<div>
    
        <div class="col-lg-12">
            <h1 class="page-header"><span>Dashboard</span> 
                <button type="button" ng-click="addInstrument()" class="btn btn-lg btn-primary pull-right fixed-width" >Add </button>
                <button type="button"  ng-click="removeFlagChange()" class="btn btn-lg btn-primary pull-right fixed-width" style="margin-right:10px" >{{removeflag===false?"Edit":"Done"}}</button>
               <!--  <button type="button" ng-show="removeflag" ng-click="removeFlagChange()" class="btn btn-lg btn-secondary pull-right" style="margin-right:10px" >Done</button> -->
            </h1>
           
        </div>
        
        <!-- /.col-lg-12 -->
   
    <!-- /.row -->
    <div class="row padding-top-row">
        <stats ng-repeat="obj in instrumentObjArr" ng-click="clickInstrument(obj)" number="{{obj.instrumentName}}" removeflag="removeflag" removeinstrument="removeInstrument(obj.id)" comments="{{obj.comments}}" colour="{{obj.colour}}" linelead="{{obj.linelead}}" supervisor="{{obj.supervisor}}" type="{{obj.type}}">
    </div>
    
</div>
