<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row padding-top-row">
        <stats ng-repeat="obj in instrumentObjArr" ng-click="clickInstrument(obj.instrumentName)" number="{{obj.instrumentName}}" comments="{{obj.comments}}" colour="{{obj.colour}}" linelead="{{obj.linelead}}" supervisor="{{obj.supervisor}}" type="{{obj.type}}">
    </div>
    
    
</div>
