 <style>
   input
   {
      width: 100%;
   }
</style>

<style type="text/css">
.red {
    color: red; 
}

.black {
    color: black;
}
</style>

 <div ng-init="callOnce()" ng-controller="TableCtrl" >

   <div class="col-lg-12" >
      <div class="page-header" >
         <h1 ><span >Tier Board  </span><button ng-class="{'btn-circle' : true , 'btn' : true , 'btn-lg' : true, 'btn-success' : trafficStatus === 0 , 'btn-warning' : trafficStatus === 1, 'btn-danger' : trafficStatus === 2}" type="button" ><i class="fa fa-check" ></i></button><span > </span><span ><button type="button" class="btn btn-lg btn-primary pull-right fixed-width" ng-click="editTable()" ng-show="!flagEditShow">Edit</button></span><span ><button type="button"  class="btn btn-lg btn-primary pull-right fixed-width" ng-click="editDone()" ng-show="flagDoneShow">Done</button></span></h1>
      </div>
   </div>
   <div class="row" >
      <div class="col-lg-6" >
         <div class="panel panel-info" >
            <div class="panel-heading" ><span class="panel-title" ><b >Target FPY &gt;= 90%</b></span></div>
            <div class="panel-body">
               <div class="row" align="center"><font size="2"><b >Business Case</b></font></div>
               <div class="row" style="margin-top:20px;margin-left:20px;margin-bottom=20px;"><font size="2"><u >Our Mission</u></font></div>
               <div style="margin-top:20px;margin-left:20px"><p >Together we design,build and deliver innovative solutions and exceptioal services to create ultimate customer experience</p>
               <div ><span > </span><i class="fa fa-hand-o-right" ></i><span >   Meet Daily Output Target </span></div>
               <div ><span > </span><i class="fa fa-hand-o-right" ></i><span >   OQA = 100% Acceptance </span></div>
               <div ><span > </span><i class="fa fa-hand-o-right" ></i><span >   FPY &gt;= 90%</span></div>
               <div ><span > </span><i class="fa fa-hand-o-right" ></i><span >   Gemba Walk (Observe,Engage,Improve)</span></div>
               <div ><span > </span><i class="fa  fa-hand-o-right" ></i><span >   No Safety Issue</span></div>
               <div style="margin-bottom:10px;"><span > </span><i class="fa  fa-hand-o-right" ></i><span >   Good 5S</span></div>
               </div>
            </div>
         </div>
      </div>
       <div class="col-lg-6" >
         <div class="panel panel-info" >
            <div class="panel-heading" ><span class="panel-title" ><b >Current FPY = 93%</b></span></div>
            <div class="panel-body" >
               <div align="center" style="margin-bottom:20px;"><font size="2"><b >Output Status</b></font></div>
               <div class="col-lg-6" >
                  <div class="well" >
                     <font size="2"><b ><u >Daily Status</u></b></font>
                     <div class="row"  style="margin-top:20px;" ng-show="flagEditShow"><div class="col-lg-8"><i class="fa fa-hand-o-right " ></i><span > <font size="1">Target: </font></span></div><div class="col-lg-4"><span ><input type="text" id='{{outputDaily.id}}' ng-model="outputDaily.target" class="inactive" readonly /> </span></div></div>
                      <div class="row" style="margin-top:20px;" ng-show="!flagEditShow"><div class="col-lg-8"><i class="fa fa-hand-o-right" ></i><span > <font size="1">Target:</font> </span></div><div class="col-lg-4"><span ><font size="1"><label ng-bind="outputDaily.target" /> </font></span></div></div>
                     

                     <div class="row" style="margin-top:20px;" ng-show="flagEditShow"><div class="col-lg-8"><i class="fa fa-hand-o-right" ></i><span ><font size="1">Yesterday: </font></span></div><div class="col-lg-4"><span ><input type="text" id='{{outputDaily.id+1}}' ng-model="outputDaily.yesterday" class="inactive" readonly /></span></div></div>
                      <div class="row" style="margin-top:20px;" ng-show="!flagEditShow"><div class="col-lg-8"><i class="fa fa-hand-o-right" ></i><span ><font size="1">Yesterday: </font></span></div><div class="col-lg-4"><span ><font size="1"><label ng-bind="outputDaily.yesterday" ng-class='{red : underAcheivedYday, black: !underAcheivedYday}'></label></font></span></div></div>
                     

                     <div  class="row" style="margin-top:20px;" ng-show="flagEditShow"><div class="col-lg-8"><i class="fa fa-hand-o-right" ></i><span ><font size="1"> Today:</font></span></div><div class="col-lg-4"><span ><input type="text" id='{{outputDaily.id+2}}' ng-model="outputDaily.today" class="inactive" readonly /></span></div></div>
                      <div  class="row" style="margin-top:20px;" ng-show="!flagEditShow"><div class="col-lg-8"><i class="fa fa-hand-o-right" ></i><span ><font size="1"> Today:</font></span></div><div class="col-lg-4"><span ><font size="1"><label ng-bind="outputDaily.today" ng-class='{red : underAcheivedToday, black: !underAcheivedToday}'/></font></span></div></div>
                  </div>
               </div>
               <div class="col-lg-6" >
                  <div class="well" >
                     <font size="2"><b ><u >Cummulative - Monthly</u></b></font>
                     <div class="row" style="margin-top:20px;" ng-show = "flagEditShow"><div class="col-lg-8"><i class="fa fa-hand-o-right  " ></i><span ><font size="1"> Target: </font></span></div><div class="col-lg-4"><span ><input type="text" width="50%" id='{{outputCummulative.id}}' ng-model="outputCummulative.target" /></span></div></div>
                    <div class="row" style="margin-top:20px;" ng-show = "!flagEditShow"><div class="col-lg-8"><i class="fa fa-hand-o-right  " ></i><span ><font size="1">Target: </font></span></div><div class="col-lg-4"><span ><font size="1"><label ng-bind="outputCummulative.target" backgroun/></font></span></div></div>

                     <div class="row" style="margin-top:20px;" ng-show = "flagEditShow"><div class="col-lg-8"><i class="fa fa-hand-o-right  " ></i><span > <font size="1">Acheived:</font> </span></div><div class="col-lg-4"><span ><input type="text" id='{{outputCummulative.id+1}}' ng-model="outputCummulative.acheived" class="inactive" readonly /></span></div></div>
                      <div class="row" style="margin-top:20px;" ng-show = "!flagEditShow"><div class="col-lg-8"><i class="fa fa-hand-o-right  " ></i><span > <font size="1">Acheived: </font></span></div><div class="col-lg-4"><span ><font size="1"><label ng-bind="outputCummulative.acheived" /></font></span></div></div>
                      <div class="row" style="margin-top:45px;" ><div class="col-lg-8"><span > </span></div><div class="col-lg-4"><span ></span></div></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row ng-scope" >
      <div class="col-lg-6" >
         <div class="panel panel-info" >
            <div class="panel-heading" ><span class="panel-title" ><b >Weekly FPY</b></span></div>
            <div class="panel-body" >
                  <span > </span><span > </span><span > </span><span > </span><span > </span><span > </span><span > </span>
                  <div style="height:220px;" id="test" kendo-grid="fpyDataGrid" k-options="sampleOptions" k-rebind="sampleOptions" k-data-source="dataSourceSample"  ></div>
                  <div  style="margin-top:20px;width:100%;" > <button id="addButton" ng-click="addRow()" class="btn btn-primary btn-sm" align = "left">Add New Product</button></div>
            </div>
         </div>
      </div>
      <div class="col-lg-6" >
         <div class="panel panel-info" >
            <div class="panel-heading" ><span class="panel-title" ><b >4M Status</b></span></div>
            <div class="panel-body" >
               <div class="table-responsive" style="margin-bottom:50px;" >
               <span > </span><span > </span><span > </span><span > </span><span > </span><span > </span><span > </span>
               <div style="height:220px;" id="4mstatues" kendo-grid="fourMDataGrid" k-options="fourMOptions" k-rebind="fourMOptions" k-data-source="fourMDataSource"  ></div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row ng-scope" >
      <div class="col-lg-12" >
         <div class="panel panel-info" >
            <div class="panel-heading" ><span class="panel-title" ><b >Issue Tracking </b></span></div>
            <div class="panel-body" >
               <div class="table-responsive" >
                  <span > </span><span > </span><span > </span><span > </span><span > </span>
                  <div kendo-grid="issueDataGrid" k-options="issueOptions" k-data-source="issueDataSource" k-rebind="issueOptions"></div>  
               </div>
               <div style="margin-top:20px;">
                  <button id="addIssue" type="button" class="btn btn-sm btn-primary" ng-click="addIssueRow()">Add Issue</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div> 