 <style>
   input
   {
      width: 80px;
   }
</style>

 <div ng-init="callOnce()" ng-controller="TableCtrl" >

   <div class="col-lg-12" >
      <div class="page-header" >
         <h1 ><span >Tier Board  </span><button class="btn-circle btn btn-lg btn-success" type="button" ><i class="fa fa-check" ></i></button><span > </span><span ><button type="button" class="btn btn-lg btn-primary" ng-click="editTable()" ng-show="!flagEditShow">Edit</button></span><span ><button type="button" class="btn btn-lg btn-primary" ng-click="editDone()" ng-show="flagDoneShow">Done</button></span></h1>
      </div>
   </div>
   <div class="row" >
      <div class="col-lg-4" >
         <div class="panel panel-info" >
            <div class="panel-heading" ><span class="panel-title" ><b >Target FPY &gt;= 90%</b></span></div>
            <div class="panel-body" >
               <h4 >Business Case</h4>
               <h5 ><span > </span><b ><u >Our Mission</u></b></h5>
               <p >Together we design,build and deliver innovative solutions and exceptioal services to create ultimate customer experience</p>
               <div ><span > </span><i class="fa fa-hand-o-right" ></i><span >   Meet Daily Output Target </span></div>
               <div ><span > </span><i class="fa fa-hand-o-right" ></i><span >   OQA = 100% Acceptance </span></div>
               <div ><span > </span><i class="fa fa-hand-o-right" ></i><span >   FPY &gt;= 90%</span></div>
               <div ><span > </span><i class="fa fa-hand-o-right" ></i><span >   Gemba Walk (Observe,Engage,Improve)</span></div>
               <div ><span > </span><i class="fa  fa-hand-o-right" ></i><span >   No Safety Issue</span></div>
               <div ><span > </span><i class="fa  fa-hand-o-right" ></i><span >   Good 5S</span></div>
            </div>
         </div>
      </div>
       <div class="col-lg-8" >
         <div class="panel panel-info" >
            <div class="panel-heading" ><span class="panel-title" ><b >Current FPY = 93%</b></span></div>
            <div class="panel-body" >
               <h4 >Output Status</h4>
               <div class="col-lg-6" >
                  <div class="well" >
                     <h5 ><b ><u >Daily Status</u></b></h5>
                     <div ><i class="fa fa-hand-o-right  " ></i><span > Target : </span><span ><input type="text" id='{{outputDaily.id}}' ng-model="outputDaily.target" class="inactive" readonly style="border:1px;border-bottom-style:none;border-top-style:none;border-left-style:none;border-right-style:none;"/> </span></div>
                     <div ><i class="fa fa-hand-o-right  " ></i><span > Yesterday : </span><span ><input type="text" id='{{outputDaily.id+1}}' ng-model="outputDaily.yesterday" class="inactive" readonly style="border:1px;border-bottom-style:none;border-top-style:none;border-left-style:none;border-right-style:none;"/></span></div>
                     <div ><i class="fa fa-hand-o-right  " ></i><span > Today : </span><span ><input type="text" id='{{outputDaily.id+2}}' ng-model="outputDaily.today" class="inactive" readonly style="border:1px;border-bottom-style:none;border-top-style:none;border-left-style:none;border-right-style:none;"/></span></div>
                  </div>
               </div>
               <div class="col-lg-6" >
                  <div class="well" >
                     <h5 ><b ><u >Cummulative</u></b></h5>
                     <div ><i class="fa fa-hand-o-right  " ></i><span > Monthly Target : </span><span ><input type="text" id='{{outputCummulative.id}}' ng-model="outputCummulative.target" class="inactive" readonly style="border:1px;border-bottom-style:none;border-top-style:none;border-left-style:none;border-right-style:none;"/></span></div>
                     <div ><i class="fa fa-hand-o-right  " ></i><span > Acheived : </span><span ><input type="text" id='{{outputCummulative.id+1}}' ng-model="outputCummulative.acheived" class="inactive" readonly style="border:1px;border-bottom-style:none;border-top-style:none;border-left-style:none;border-right-style:none;"/></span></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row ng-scope" >
      <div class="col-lg-6" >
         <div class="panel panel-info" >
            <div class="panel-heading" ><span class="panel-title" ><b >Weekly FPY</b></span></div>
            <div class="panel-body" >
                  <span > </span><span > </span><span > </span><span > </span><span > </span><span > </span><span > </span>
                  <div style="height:220px;" id="test" kendo-grid="fpyDataGrid" k-options="sampleOptions" k-rebind="sampleOptions" k-data-source="dataSourceSample"  ></div>
                  <div  style="margin-top:20px;width:100%;" > <button id="addButton" ng-click="addRow()" class="btn btn-primary btn-sm" align = "left">Add New Product</button></div>
            </div>
         </div>
      </div>
      <div class="col-lg-6" >
         <div class="panel panel-info" >
            <div class="panel-heading" ><span class="panel-title" ><b >4M Status</b></span></div>
            <div class="panel-body" >
               <div class="table-responsive" >
               <span > </span><span > </span><span > </span><span > </span><span > </span><span > </span><span > </span>
               <div style="height:220px;" id="4mstatues" kendo-grid="fourMDataGrid" k-options="fourMOptions" k-rebind="fourMOptions" k-data-source="fourMDataSource"  ></div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row ng-scope" >
      <div class="col-lg-12" >
         <div class="panel panel-info" >
            <div class="panel-heading" ><span class="panel-title" ><b >Issue Tracking </b></span></div>
            <div class="panel-body" >
               <div class="table-responsive" >
                  <span > </span><span > </span><span > </span><span > </span><span > </span>
                  <div kendo-grid="issueDataGrid" k-options="issueOptions" k-data-source="issueDataSource" k-rebind="issueOptions"></div>  
               </div>
               <button id="addIssue" type="button" class="btn btn-sm btn-primary" ng-click="addIssueRow()">Add Issue</button>
            </div>
         </div>
      </div>
   </div>
</div> 